<h1>Administer users</h1>
<table>
  <thead>
    <th>Username</th>
    <th>Email</th>
    <th>Reset Password?</th>
    <th>Roles</th>
    <th>Admin?</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user[:user_name] %></td>
        <td><%= user[:email] %></td>
        <td>
          <form class="reset_pword" action="/users/reset_pword" method="post">
            <input type="hidden" name="user_name" value="<%= user[:user_name] %>"/>
            <button type="submit">Reset password</button>
          </form>
        </td>
        <td><%= user[:roles] %></td>
        <td>
          <form action="/users/toggle_admin" method="post">
            <input type="hidden" name="user_id" value="<%= user[:user_id] %>"/>
            <input 
              type="checkbox"
              value="true" 
              name="admin"
              <% if !user[:roles].nil? && user[:roles].include?('Admin') %>
                checked
              <% end %>
            />
            <button type="submit" >Submit Admin change</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>