<%== yield %>

<% unless @matches.empty? %>
  <h2>Matches List</h2>
  <table>
    <thead>
      <th hidden>Match id</th>
      <th>Date</th>
      <th>Kick-off</th>
      <th>Home team</th>
      <th>Home prediction</th>
      <th>Away prediction</th>
      <th>Away team</th>
      <th></th>
      <th>Home result</th>
      <th>Away result</th>
      <th></th>
    </thead>
    <tbody>
      <% @matches.each do |match| %>
        <tr>
          <td hidden><%== match[:match_id] %></td>
          <td><%== match[:match_date] %></td>
          <td><%== match[:kick_off] %></td>
          <td><%== home_team_name(match) %></td>
          <td><%== home_team_prediction(match) %></td>
          <td><%== away_team_prediction(match) %></td>
          <td><%== away_team_name(match) %></td>
          <% if match_locked_down?(match) %>
            <td>Locked down</td>
            <td><%== home_team_points(match) %></td>
            <td><%== away_team_points(match) %></td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
          <td><a href="/match/<%== match[:match_id] %>">View match</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
