<h1>Matches List</h1>
<table>
  <thead>
    <th>Match id</th>
    <th>Date</th>
    <th>Kick-off</th>
    <th>Home team</th>
    <th>Home prediction</th>
    <th>Away prediction</th>
    <th>Away team</th>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match[:match_id] %></td>
        <td><%= match[:match_date] %></td>
        <td><%= match[:kick_off] %></td>
        <td><%= match[:home_team_name] %></td>
        <td>num</td>
        <td>num</td>
        <td><%= match[:away_team_name] %></td>
      </tr>
    <% end %>
  </tbody>
</table>