<p><a href="/matches/search_form">Search matches</a></p>

<%= yield %>

<h1>Matches List</h1>
<table>
  <thead>
    <th>Match id</th>
    <th>Date</th>
    <th>Kick-off</th>
    <th>Home team</th>
    <th>Home prediction</th>
    <th>Away prediction</th>
    <th>Away team</th>
    <th></th>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match[:match_id] %></td>
        <td><%= match[:match_date] %></td>
        <td><%= match[:kick_off] %></td>
        <td><%= home_team_name(match) %></td>
        <td><%= home_team_prediction(match[:match_id]) %></td>
        <td><%= away_team_prediction(match[:match_id]) %></td>
        <td><%= away_team_name(match) %></td>
        <td><a href="/match/<%= match[:match_id] %>">View match</a></td>
      </tr>
    <% end %>
  </tbody>
</table>